<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <link rel="stylesheet" href="/dist/output.css" />
  </head>
  <body>
    <div class="mx-auto max-w-md rounded-md bg-white p-6 shadow-md">
      <h1 class="mb-4 text-2xl font-bold">Counter App</h1>
      <div class="flex items-center justify-between">
        <p class="text-3xl font-semibold" id="counter">0</p>
        <button
          id="add-button"
          class="rounded-md bg-blue-500 px-4 py-2 text-white focus:border-blue-300 focus:outline-none focus:ring"
        >
          Increase
        </button>
      </div>
    </div>

    <script src="./script.js"></script>
  </body>
</html>
